<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simon Says Game</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <form>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
       
          
          </form>
        </div>
    </nav>
    <h1>Simon Says Game</h1>
    <h2>Press any key to start the game</h2>
    <p id="message"></p>

    <div class="btn-con">
      <div class="line-one">
        <button class="btn red" id="red">1</button>
        <button class="btn yellow" id="yellow">2</button>
      </div>
      <div class="line-two">
        <button class="btn green" id="green">3</button>
        <button class="btn purple" id="purple">4</button>
      </div>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
